<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css">
    <link rel="icon" href="https://avatars.githubusercontent.com/u/78133145?s=200&v=4">

</head>

<body>
    {{!-- dashboard header starts --}}
    <header class="text-gray-700 bg-white border-t border-b body-font">
        <div class="container flex flex-col flex-wrap p-5 mx-auto md:items-center md:flex-row ">
            <a href="" class="flex items-center w-40 font-medium text-gray-900 title-font md:mb-0">
                <h1 class="text-2xl font-semibold tracking-tighter">UniAuth</h1>
            </a>
            <nav class="flex flex-wrap items-center justify-center text-base md:ml-auto ">
                <a href="/dashboard/profile" class="mr-5 text-sm text-gray-600 hover:text-gray-800">Profile</a>
                <a href="/dashboard/data" class="mr-5 text-sm text-gray-600 hover:text-gray-800">My Data</a>
                <a href="/dashboard/dev" class="mr-5 text-sm text-gray-600 hover:text-gray-800">Dev Arena</a>
            </nav>
            <a href="../account/logout"
                class="items-center px-8 py-3 mt-4 text-sm text-gray-500 transition duration-500 ease-in-out transform bg-white rounded-lg lg:inline-flex lg:mt-px focus:ring focus:outline-none">Log
                Out
            </a>
        </div>
    </header>
    {{!-- dashboard header ends --}}

    <section class="text-gray-700 body-font">
        <section class="mx-auto">
            <div class="container px-5 mx-auto lg:px-24 mt-24">
                <div class="flex flex-col w-full mb-12 text-left lg:text-center">
                    <h1 class="mb-6 text-2xl font-semibold text-blue-800 title-font">
                        Trusted By
                    </h1>
                </div>
                <div class="grid grid-cols-3 gap-16 my-16 text-center lg:grid-cols-6">
                    <div class="flex items-center justify-center ">
                        <img src="https://d33wubrfki0l68.cloudfront.net/e018a9cb3c198579040cd7c76efc4319d9d73065/78dee/logos/notion.svg"
                            alt="Todoist Logo" class="block object-contain h-16">
                    </div>
                    <div class="flex items-center justify-center ">
                        <img src="https://d33wubrfki0l68.cloudfront.net/3c4dca12c4e61997e31aa2810408ec46ea6b300c/35012/logos/jb_rider.svg"
                            alt="logo" class="block object-contain h-16">
                    </div>
                    <div class="flex items-center justify-center ">
                        <img src="https://d33wubrfki0l68.cloudfront.net/f89a5bbfd36f091aa28386a9a5d00beeac739466/a67a2/logos/marvel.svg"
                            alt="logo" class="block object-contain h-16">
                    </div>
                    <div class="flex items-center justify-center ">
                        <img src="https://d33wubrfki0l68.cloudfront.net/00e9e5a3abb0f4a67423ee14f9822db4f0e22172/46c6b/logos/paypal.svg"
                            alt="logo" class="block object-contain h-16">
                    </div>
                    <div class="flex items-center justify-center ">
                        <img src="https://d33wubrfki0l68.cloudfront.net/bd27dc44fc4b5c47e46941477c7d332a60d57351/09469/logos/volkswagen.svg"
                            alt="logo" class="block object-contain h-16">
                    </div>
                    <div class="flex items-center justify-center ">
                        <img src="https://d33wubrfki0l68.cloudfront.net/7f4ce7b480fdac0e72b719c7de1c37f4e3792529/1f376/logos/stripe.svg"
                            alt="logo" class="block object-contain h-16">
                    </div>
                </div>
            </div>
        </section>
    </section>

</body>

</html>