<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="icon" href="https://avatars.githubusercontent.com/u/78133145?s=200&v=4">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css">
</head>

<body>

    {{!-- bare-bone header --}}
    <header class="text-gray-700 bg-white border-t border-b body-font">
        <div class="container flex flex-col flex-wrap p-5 mx-auto md:items-center md:flex-row ">
            <a class="flex items-center w-40 font-medium text-gray-900 title-font md:mb-0">
                <h1 class="text-2xl font-semibold tracking-tighter">UniAuth</h1>
            </a>
        </div>
    </header>
    {{!-- bare bone header ends --}}


    <section class="text-gray-700 body-font">
        <div class="container px-8 pt-20 mx-auto lg:px-4">
            <div class="flex flex-wrap ">
                <div class="px-8 py-6 text-left lg:px-24 lg:w-2/4 md:w-full lg:border-r">
                    <h2 class="mb-3 text-lg font-semibold text-gray-700 lg:text-2xl title-font">Password Reset</h2>
                    <p class="mb-4 text-base leading-relaxed">If you were mid-way in your log-in process, you'd have to
                        start it again. <br /><br />
                        <small>All active sessions would also expire.</small>
                    </p>
                </div>
                <div class="px-8 py-6 text-left lg:px-24 lg:w-2/4 md:w-full ">
                    <p class="mb-4 text-base leading-relaxed"></p>
                    <div class="flex flex-col w-full mx-auto mt-10 rounded-lg md:ml-auto md:mt-0">
                        <div class="relative ">
                            <input autofocus required type="password_1" id="password_1" name="password_1"
                                placeholder="Password"
                                class="w-full px-4 py-2 mb-4 mr-4 text-base text-blue-700 bg-gray-100 border-transparent rounded-lg focus:border-gray-500 focus:bg-white focus:ring-0">
                        </div>
                        <div class="relative ">
                            <input required type="password_2" id="password_2" name="password_2"
                                placeholder="Repeat Password"
                                class="w-full px-4 py-2 mb-4 mr-4 text-base text-blue-700 bg-gray-100 border-transparent rounded-lg focus:border-gray-500 focus:bg-white focus:ring-0">
                        </div>
                        <button
                            class="px-8 py-2 font-semibold text-white transition duration-500 ease-in-out transform rounded-lg shadow-xl bg-gradient-to-r from-blue-700 hover:from-blue-600 to-blue-600 hover:to-blue-700 focus:ring focus:outline-none">Update
                            Password</button>
                        <p class="mx-auto mt-3 text-xs text-gray-500">{{server.message}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="../assets/js/resetPassword.js"></script>

</html>


{{!-- --}}